In [14]:
import pandas as pd 
# df = pd.read_csv('/tmp/data/corr_data.csv')
df = pd.read_parquet('/tmp/data/corr_data.parquet')
# df = pd.read_csv('/Users/jinwenliu/github/gdp-dashboard-demo/data/gdp_data.csv')
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.790850e+09,2.962907e+09,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.558906e+09,3.103184e+09,3.544708e+09,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,1.847810e+10,1.936631e+10,2.050647e+10,2.224273e+10,2.429433e+10,2.661956e+10,...,1.006992e+12,9.325135e+11,8.900514e+11,1.028394e+12,1.012521e+12,1.006191e+12,9.288802e+11,1.086531e+12,1.185138e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,2.049713e+10,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426650e+10,NaN,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.041165e+10,1.113592e+10,1.195171e+10,1.268581e+10,1.384900e+10,1.487476e+10,...,8.945050e+11,7.692632e+11,6.921149e+11,6.856303e+11,7.681582e+11,8.234056e+11,7.869624e+11,8.449275e+11,8.753937e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.359668e+11,9.049642e+10,5.276162e+10,7.369016e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.067828e+11,NaN

In [15]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df.iloc[1:1000].to_csv('/Users/jinwenliu/github/stock-corr-streamleet/data/corr_data.csv', index=False)

In [12]:
import pandas as pd

# Assuming the DataFrame is named 'df' and contains all the necessary columns

# Get the latest DATA_DUMP_DATE
latest_date = df['DATA_DUMP_DATE'].max()

# Filter the DataFrame for the latest date
df_latest = df[df['DATA_DUMP_DATE'] == latest_date]

# Create a dictionary to map corr_calc_days to new column names
corr_dict = {
    10: 'corr_10',
    22: 'corr_22',
    45: 'corr_45',
    66: 'corr_66',
    125: 'corr_125',
    250: 'corr_250',
    500: 'corr_500',
    1250: 'corr_1250'
}

# Pivot the DataFrame to create columns for each corr_calc_days
df_pivoted = df_latest.pivot_table(
    index=['DATA_DUMP_DATE', 'ticker_1', 'ticker_2'],
    columns='corr_calc_days',
    values='close_correlation',
    aggfunc='first'
).reset_index()

# Rename the columns
df_pivoted.rename(columns=corr_dict, inplace=True)

# Select and order the columns
result = df_pivoted[['DATA_DUMP_DATE', 'ticker_1', 'ticker_2'] + list(corr_dict.values())]

# Rename DATA_DUMP_DATE to LATEST_DATE
result = result.rename(columns={'DATA_DUMP_DATE': 'LATEST_DATE'})

# Sort the DataFrame
result = result.sort_values(['ticker_1', 'ticker_2'])

# Reset the index if needed
result = result.reset_index(drop=True)

# Display the result
print(result)

corr_calc_days LATEST_DATE ticker_1 ticker_2   corr_10   corr_22   corr_45  \
0               2024-09-12        A      AAL -0.629827 -0.195514 -0.064977
1               2024-09-12        A     AAPL  0.906538  0.898201  0.076518
2               2024-09-12        A     ABBV  0.149252  0.377119  0.814889
3               2024-09-12        A     ABNB  0.402362  0.355989 -0.615546
4               2024-09-12        A      ABT -0.604274 -0.172107  0.658712
...                    ...      ...      ...       ...       ...       ...
123251          2024-09-12      YUM     ZBRA  0.384394  0.410779  0.329683
123252          2024-09-12      YUM      ZTS -0.726134 -0.535810  0.523115
123253          2024-09-12      ZBH     ZBRA  0.400937  0.590344  0.509208
123254          2024-09-12      ZBH      ZTS -0.845463 -0.822677 -0.361790
123255          2024-09-12     ZBRA      ZTS -0.396207 -0.700611  0.042062

corr_calc_days   corr_66  corr_125  corr_250  corr_500  corr_1250
0              -0.486641  0.595213  0.295079  0.126515  -0.150462
1               0.165292 -0.448229  0.210583 -0.253035   0.704482
2               0.873903 -0.005701  0.659533  0.412483   0.627082
3              -0.771940  0.067636  0.518165 -0.091821   0.162223
4               0.774870  0.301318  0.748081  0.490846   0.847509
...                  ...       ...       ...       ...        ...
123251          0.111520 -0.296616  0.756604  0.469183   0.204450
123252          0.264119 -0.350568 -0.033647  0.493907   0.684328
123253          0.560732 -0.493169  0.077392  0.185766   0.477278
123254          0.200291 -0.628171  0.179159  0.135601   0.074240
123255          0.672558  0.799241  0.082854  0.132797   0.645814

[123256 rows x 11 columns]

In [13]:
type(result)

pandas.core.frame.DataFrame

In [7]:
result.rename_axis('index', inplace=True)
result.head()

corr_calc_days,LATEST_DATE,ticker_1,ticker_2,corr_10,corr_22,corr_45,corr_66,corr_125,corr_250,corr_500,corr_1250
index,,,,,,,,,,,
0,2024-09-12,A,AAL,-0.629827,-0.195514,-0.064977,-0.486641,0.595213,0.295079,0.126515,-0.150462
1,2024-09-12,A,AAPL,0.906538,0.898201,0.076518,0.165292,-0.448229,0.210583,-0.253035,0.704482
2,2024-09-12,A,ABBV,0.149252,0.377119,0.814889,0.873903,-0.005701,0.659533,0.412483,0.627082
3,2024-09-12,A,ABNB,0.402362,0.355989,-0.615546,-0.771940,0.067636,0.518165,-0.091821,0.162223
4,2024-09-12,A,ABT,-0.604274,-0.172107,0.658712,0.774870,0.301318,0.748081,0.490846,0.847509